/* .information-banner{
    width: 100%;
    height: 80vh; 
    background-image: url('https://images.squarespace-cdn.com/content/v1/6192b02960e94236fc22acce/5cbd0cb2-7b57-4011-bb23-96b6480f8e3a/Futures+Platform+radar+stack.png');
    background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden; 
} */

.information-banner{
    width: 100%;
    height: auto;
    background: #172836; 
}
.image {
    width: 100%;
    height: auto;
} 

 